{$DOMAIN:misty.jochemapps.com} {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }

    @notapi not path /register /token/refresh /health /monitors /monitors/*
    respond @notapi 404

    reverse_proxy app:8080

    rate_limit {
        zone general {
            key    {http.request.header.CF-Connecting-IP}
            events 30
            window 1m
        }
        zone sensitive {
            match {
                path /register /token/refresh
            }
            key    {http.request.header.CF-Connecting-IP}
            events 5
            window 1m
        }
    }
}